*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    background: linear-gradient(to right, rgb(69, 127, 173), rgb(0, 255, 0));
}

.calculator{
    width: 310px;
    min-height: 480px;
    margin: auto;
    margin-top: 50px;
}

.screen {
    width: 100%;
    min-height: 130px;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 10px;
    text-align: right;
    word-break:break-all;
}

.previous{
    color: rgba(250, 235, 215,0.6);
    font-size: 25px;
    font-weight: normal;
}

.current{
    color: rgba(250, 235, 215,0.8);
    font-size: 40px;
    font-weight: normal;
}

.button{
    background-color: rgba(250, 235, 215, 0.4);
    color:rgb(70, 70, 70);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:500;
    font-size:22px;
    transition: background-color 270ms;
    outline: none;
    border: none;
    cursor: pointer;
}

.button:hover{
    background-color: rgba(250, 235, 215,0.4); 
}

.controls{
    height: 350px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    grid-gap:2px;
    align-content: center;
}

.span{
    grid-column: span 2;
}